{
    "parser": "babel-eslint",
    "rules": {
        "no-console": "warn",
        "linebreak-style": ["error", "windows"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "plugins": ["react", "import", "jsx-a11y"],
    "extends": ["airbnb"],
    "env": {
        "browser": true,
        "node": true
    }
}